name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Check current dir
        run: dir
      - name: Build the Docker image
        run: docker-compose -f **/docker-compose.yml build
